{% extends 'barra.html' %}


{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">


            <h2 class="text-center">index</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, provident voluptas consectetur cum impedit vel corrupti, commodi iusto quaerat minima quod reprehenderit rem. Dignissimos, molestias. Alias doloremque modi optio doloribus!</p>




        </div>
    </div>

</main>

{% endblock %}